.header {
    font-size: 1.8em;
    padding: 1%;
    text-align: center;
}

a {
    text-decoration: none;
}

.X {
    float: right;
}

.glyphicon {
    text-decoration: none;
    color: #aaa;
    font-size: 1.2em;
}

.glyphicon:hover {
    color: #8C8080;
}

ol {
    margin-bottom: 0;
}

body {
    background: #DFF0D8;
}

textarea,
input,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
{
    outline:0px !important;
    -webkit-appearance:none;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

#app {
    width: 75%;
    padding: 1%;
    background: white;
}

.bucketCase {
     padding: 10px / 960px * 100%;
     margin: 1px;
     position: relative;
     float: left;
     width: 318px / 960px * 100%;
     overflow: hidden;
}

@media (min-width:481px) and (max-width:992px) {
    .bucketCase:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width:993px) {
    .bucketCase:nth-child(3n+1) {
        clear: left;
    }
}

.bucket {
    border-style: none;
    border-width: 1px;
    padding: 25px / 960px * 100%;
    overflow: hidden;
    background: #eee;
    min-height: 150px;
}

.newBucket {
}

.listName {
    font-size: 1.2em;
    color: #aaa;
}

.bucketForm {
    margin: 0px;
    padding: 0px;
    display: inline;
    font-size: 1.2em;
}

.submit {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
