.header {
  font-size: 1.8em;
  padding: 1%;
  text-align: center; }

a {
  text-decoration: none; }

ol {
  margin-bottom: 0; }

body {
  background: #DFF0D8; }

textarea, input, textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none; }

#app {
  width: 75%;
  padding: 1%;
  background: white; }

.bucketCase {
  padding: 1.04167%;
  margin: 1px;
  position: relative;
  float: left;
  width: 33.125%;
  overflow: hidden; }

@media (min-width: 481px) and (max-width: 992px) {
  .bucketCase:nth-child(2n+1) {
    clear: left; } }

@media (min-width: 993px) {
  .bucketCase:nth-child(3n+1) {
    clear: left; } }

.bucket {
  border-style: none;
  border-width: 1px;
  padding: 2.60417%;
  overflow: hidden;
  background: #eee;
  min-height: 150px; }

.X {
  float: right; }

.listName {
  font-size: 1.2em;
  color: #aaa; }

.bucketForm {
  margin: 0px;
  padding: 0px;
  display: inline;
  font-size: 1.2em; }

.submit {
  visibility: hidden;
  position: absolute;
  left: -9999px; }
