{{ define "layout" }}
<!doctype html>
<head>
    {{ template "title" . }}
</head>
<body>
    {{ template "css" . }}
    {{ template "scripts" . }}
    {{ template "content" . }}

</body>
</html>
{{ end }}

{{ define "css" }}
<link rel=stylesheet type=text/css href="{{ .Static }}/libs/bootstrap/dist/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ .Static }}/css/buckets.css">
{{ end }}

{{ define "scripts" }}{{ end }}
