{{ define "title" }}<title>Buckets</title> {{ end }}

{{ define "scripts" }}
<script type=text/javascript src="{{ .Static }}/js/libs.js" defer> </script>
<script type=text/javascript src="{{ .Static }}/js/bundle.js" defer> </script>
{{ end }}

{{ define "content" }}
    <div id="app"></div>
{{ end }}
